body {
    background-color: #fafafa;
}

.background {
    position: relative;
    height: 100vh;
}

.dino {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background-image:  url(../images/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image:  url(../images/cactus.png);
}

.gameover {
    font-family: 'game over';
    font-size: 60px;
    text-align: center;
    margin-top: 50vh;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  .background {
    position: absolute;
    bottom: 0px;
    background-image: url('background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
  }